Repository ipdk-io/networking-recipe, pull requests merged in 2024-01, with the labels that each got.

#380 Update prerequisites
  docs/guides/setup/dpdk-setup-guide.md
  docs/guides/setup/es2k-setup-guide.md
Labels: documentation, trivial effort

#388 Implement lintdocs workflow
  .github/workflows/lintdocs.yml
  .markdownlint.json
Labels: minor effort, github_actions

#356 Refine p4runtime protobuf generation
  protobufs/CMakeLists.txt
  protobufs/p4runtime.cmake
  protobufs/tarballs.cmake
Labels: minor effort, cmake

#396 Add clang-format check to precommit workflow
  .github/workflows/pipeline.yml
Labels: minor effort, github_actions

#384 Update compiling-p4-programs.md
  docs/guides/es2k/compiling-p4-programs.md
Labels: medium effort

#398 Refine p4cp github lint workflows
  .github/workflows/linters.yml
  .github/workflows/pipeline.yml
  README.md
Labels: minor effort, github_actions
